#registration-wrapper {
  padding: 20px 40px;
  background-color: var(--platinum);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}
.login-item {
  font-size: 12px;
  display: flex;
  flex-flow: column;
}
.login-item input {
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 5px;
  margin: 5px 0;
}

#submit-botton button {
  outline: none;
  border: none;
  background-color: white;
  margin: 10px 5px;
}
#submit-botton button {
  padding: 10px 20px;
  font-weight: bold;
}
